<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/index.css"/>
</head>

<form name="input" action="/names" method="post">
  <div class="players">
    <div class="player1">
      <label for "name1">Player 1</label><br>
      <input type="text" name="name_1" placeholder="Enter name...">
    </div>
    <div class="player2">
      <label for "name2">Player 2</label><br>
      <input type="text" name="name_2" placeholder="Enter name...">
    </div>
      <button class="submit" type="submit" value="Start">FIGHT!</button>
  </div>
</form>
